﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<style>
body {
    font-family: "Lato", sans-serif;
}*@

</head>
<body>

    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href=@Url.Action("Index","Home")>ER Chain</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Инструкция пользователя</a>
                </li>

            </ul>

            <ul class="navbar-nav mr-right">

               
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("Registration","Account")  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Регистрация
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="@Url.Action("LogIn","Account")" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Вход
                    </a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                  
                        <form class="form-horizontal" method="post" accept-charset="UTF-8">
                            <input class="form-control login" type="text" name="username" placeholder="Инн" /><br>
                            <input class="form-control login" type="password" name="password" placeholder="Пароль" /><br>
                            <input type="button" value="Войти" onclick="Login()" class="btn btn-primary btn-sm" />

                        </form>
                   </div>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Найти..." aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
            </form>

        </div>

        </nav>
        <div class="container body-content">

            @RenderBody()
            <hr />

            <footer>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>
        </div>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>

<script>
    function Login() {
        var inn = document.getElementsByName("username")[0].value;
        var pas = document.getElementsByName("password")[0].value;
        if (inn !== '777777777' && pas !== '123') {
            alert("Пользователя нет в системе!");
        } else {
            window.location.href = "/Employee/AddEmployeeView";
        }
    }
</script>