﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<style>
        body {
            font-family: "Lato", sans-serif;
        }*@

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ER Chain</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Действия
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="http://localhost:58403/Employee/AddEmployeeView">Прием на работу</a>
                        <a class="dropdown-item" href="http://localhost:58403/Employee/ListEmployeeView">Список сотрудников</a>
                        <a class="dropdown-item" href="http://localhost:58403/Employee/CheckValidityView">Проверить подлинность</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="http://localhost:58403">На главную</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="http://localhost:58403/Employee/CheckValidityView" class="btn btn-success my-2 my-sm-0">Проверка</a>
                   
                </li>
            </ul>
            <ul class="navbar-nav mr-right">
               
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 ">
                        <input class="form-control mr-sm-2" type="text" placeholder="Найти..." aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
