﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        <div class="sidenav">
            <a href="#about">Новый</a>
            <a href="#services">Проверка</a>
            <a href="#clients">Организация</a>
            <a href="#contact">...</a>
        </div>


        <div class="main">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>      
</body>
</html>
