﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ER Chain</h1>
    <p class="lead">Проект, созданный для регистрации записей в электронную трудовую книжку</p>

    <p><a href="~/Account/Registration" class="btn btn-primary btn-lg">Зарегистрируйтесь, чтобы продолжить &raquo;</a></p>
    @*<p><a href="~/ApiTest/AllButtons" class="btn btn-primary btn-lg">Проверить API &raquo;</a></p>*@
    <button onclick="{ var client = new XMLHttpRequest(); var url = 'http://localhost:12345/chain'; client.open('GET', url); client.send(); client.onreadystatechange=(e)=>{
    console.log(client.responseText) } }">GetChain</button>
    <button onclick="{ var client = new XMLHttpRequest(); var url = 'http://localhost:12345/mine'; client.open('GET', url); client.send(); client.onreadystatechange=(e)=>{
    console.log(client.responseText) } }">Mine</button>
    <button onclick="{ var client = new XMLHttpRequest(); var url = 'http://localhost:12345/transactions/new'; client.open('POST', url); client.send(JSON.stringify({ Amount:123, Recipient:'ebeabf5cc1d54abdbca5a8fe9493b479', Sender:'31de2e0ef1cb4937830fcfd5d2b3b24f' })); client.onreadystatechange=(e)=>{
    console.log(client.responseText) } }">NewTransaction</button>
    <button onclick="{ var client = new XMLHttpRequest(); var url = 'http://localhost:12345/nodes/register'; client.open('POST', url); client.send(JSON.stringify( { Urls: ['localhost:54321', 'localhost:54345', 'localhost:12321'] })); client.onreadystatechange=(e)=>{
    console.log(client.responseText) } }">RegisterNodes</button>
    <button onclick="{ var client = new XMLHttpRequest(); var url = 'http://localhost:12345/nodes/resolve'; client.open('GET', url); client.send(); client.onreadystatechange=(e)=>{
    console.log(client.responseText) } }">Resolve</button>
</div>

<div class="row">

    <div class="col-md-8 pic">
        <p>
            <img src="https://hi-news.ru/wp-content/uploads/2018/05/blockchainis-650x320.jpg" alt="...">

        </p>
    
    </div>
    <div class="col-md-4 ">
        <h2>Простота и надежноть</h2>
        <p>Блокче́йн (англ. blockchain или block chain[1]) — выстроенная по определённым правилам непрерывная последовательная цепочка блоков
           (связный список), содержащих информацию. Чаще всего копии цепочек блоков хранятся на множестве разных компьютеров независимо друг от друга.</p>
        <p><a class="btn btn-light" href="https://ru.wikipedia.org/wiki/%D0%91%D0%BB%D0%BE%D0%BA%D1%87%D0%B5%D0%B9%D0%BD">Читать далее &raquo;</a></p>
    </div>
</div>