﻿@model WebApplication1.Models.AddEmployeeModel

@{
    /**/

    ViewBag.Title = "AddEmployeeView";
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <!-- Default form register -->
<form class="text-center border border-light p-5">

    <p>
    <p class="h4 mb-4">Прием на работу</p>


    <div class="form-inline">

        <div class="mx-sm-3 mb-2">

            @Html.EditorFor(model => model.inn_code, new { htmlAttributes = new { @class = "form-control ", @placeholder = "ИНН", @id = "INNTextField" } })
            @Html.ValidationMessageFor(model => model.inn_code, "", new { @class = "text-danger" })
        </div>
        <div class="mx-sm-3 mb-2">
            <button type="submit" class="btn btn-primary">Найти</button>
        </div>
    </div>

    <div class="mx-sm-3 mb-2">
        @Html.LabelFor(model => model.passport_ser, "Паспорт", htmlAttributes: new { @class = "control-label text-info" })
    </div>
    <div class="form-inline">

        <div class="mx-sm-3 mb-2">
            @Html.EditorFor(model => model.passport_ser, new { htmlAttributes = new { @class = "form-control", @placeholder = "Серия", @id = "SerialTextField" } })
            @Html.ValidationMessageFor(model => model.passport_ser, "", new { @class = "text-danger" })
        </div>
        <div class="mx-sm-3 mb-2">
            @Html.EditorFor(model => model.passport_num, new { htmlAttributes = new { @class = "form-control", @placeholder = "Номер", @id = "NumberTextField" } })
            @Html.ValidationMessageFor(model => model.passport_num, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="mx-sm-3 mb-2">
        @Html.LabelFor(model => model.surname, "ФИО", htmlAttributes: new { @class = "control-label text-info" })
    </div>
    <div class="form-inline">

        <div class="mx-sm-3 mb-2">
            @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Фамилия", @id = "SurNameTextField" } })
            @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
        </div>
        <div class="mx-sm-3 mb-2">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Имя", @id = "NameTextField" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>


    </div>

    <div class="form-inline mx-sm-3 mb-2">

        @Html.EditorFor(model => model.pat_name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Отчество", @id = "PatNameTextField" } })
        @Html.ValidationMessageFor(model => model.pat_name, "", new { @class = "text-danger" })
    </div>

    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        Запись осуществляется текущей датой
    </small>

    <!--<div class="custom-control custom-checkbox mx-sm-3 mb-2">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Проверить перед приемом</label>
    </div>-->


    <div class="form-inline mx-sm-3 mb-3">
        <button class="btn btn-info " type="button" onclick=" GetData()">Оформить запись</button>

    </div>
    <div class="form-inline mx-sm-3 mb-3">
        <button class="btn btn-info " type="button" onclick="{ var client = new XMLHttpRequest(); var url = 'http://localhost:12345/mine'; client.open('GET', url); client.send(); client.onreadystatechange=(e)=>{
    console.log(client.responseText) } }">
            Зарегистрировать блок
        </button>
    </div>
</form>

    <script>
        function GetData() {
            var INN = document.getElementById('INNTextField').value;
            var Passport = document.getElementById('SerialTextField').value +
                ' ' +
                document.getElementById('NumberTextField').value;
            var SurName = document.getElementById('SurNameTextField').value;
            var Name = document.getElementById('NameTextField').value;
            var PatName = document.getElementById('PatNameTextField').value;

            var Data = {
                
                Recipient: SurName + Name + PatName,
                Sender: 'Организация',
                Message: JSON.stringify({inn: INN,
                    passport: Passport,
                    surName: SurName,
                    name: Name,
                    patName: PatName})
                
            }
            var client = new XMLHttpRequest();
            var url = 'http://localhost:12345/transactions/new';
            client.open('POST', url);
            client.send(
                JSON.stringify(
                    Data)
            );
            client.onreadystatechange = (e) => {
                console.log(client.responseText);
            }
        }
    </script>




}


