﻿
@{
    ViewBag.Title = "CheckValidityView";
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

<h4 class="mt-md-3">Проверка целостности цепочки</h4>


<form>

    <div class="col-xs-4 col1 center-bloc  mt-md-5">
        <button class="btn btn-info" type="button" onclick="Check()">Проверка</button>
    </div>

    <div class="form-group mt-md-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Результат проверки"></textarea>
    </div>
</form>
<script>
    function Check() 
    {
        var client = new XMLHttpRequest();
        var url = 'http://localhost:12345/nodes/resolve'; client.open('GET', url);
        client.send();
        client.onreadystatechange = (e) => {
            var data = JSON.parse(client.responseText);
            document.getElementById("exampleFormControlTextarea1").value = data.Message;
        };
    }
</script>
