﻿@model Front.Models.Employee

@{
    ViewBag.Title = "DetailsEmployeeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsEmployeeView</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.inn_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inn_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passport_ser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passport_ser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passport_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passport_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pat_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
