﻿@model IEnumerable<WebApplication1.Models.AddEmployeeModel>

@{
    ViewBag.Title = "ListEmployeeView";
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

<h2>View</h2>


<div class="form-inline mx-sm-3 mb-3">
    <button type="button" class="btn btn-info " onclick="{window.location.href = '/Employee/AddEmployeeView';}">Принять нового сотрудника</button>
</div>

<div class="form-inline mx-sm-3 mb-3">
    <button class="btn btn-info " type="button" onclick="GetData()">Просмотр</button>
</div>
<form>
    <table class="table" id="table">
        <tr>
            <th>
                <label>ИНН</label>
            </th>
            <th>
                <label>Паспорт</label>
            </th>
            <th>
                <label>Фамилия</label>
            </th>
            <th>
                <label>Имя</label>
            </th>
            <th>
                <label>Отчество</label>
            </th>
            <th></th>
        </tr>
    </table>
</form>
<script>
    function GetData() {
        var tbody = document.getElementById('table').getElementsByTagName("TBODY")[0];

        for (var i = tbody.children.length; i > 0; i--) {
            if (tbody.children[i]) {
                tbody.children[i].remove();
            }
        }
        var client = new XMLHttpRequest();
        var url = 'http://localhost:12345/getblocks';
        client.open('GET', url);
        client.send();
        var isOn = true;
        client.onreadystatechange = () => {
            if (isOn) {
                if (client.responseText) {
                    isOn = false;
                    var data = JSON.parse(client.responseText);
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            var transactions = JSON.parse(data[i]).Transactions;
                            for (var j = 0; j < transactions.length; j++) {

                                addRow('table', JSON.parse(transactions[j].Message));
                            }


                        }
                    }
                }

            }

        };
    }

    function addRow(id, data) {
        var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
        var row = document.createElement("TR");
        var td1 = document.createElement("TD");
        td1.appendChild(document.createTextNode(data.inn));
        var td2 = document.createElement("TD");
        td2.appendChild(document.createTextNode(data.passport));
        var td3 = document.createElement("TD");
        td3.appendChild(document.createTextNode(data.surName));
        var td4 = document.createElement("TD");
        td4.appendChild(document.createTextNode(data.name));
        var td5 = document.createElement("TD");
        td5.appendChild(document.createTextNode(data.patName));
        row.appendChild(td1);
        row.appendChild(td2);
        row.appendChild(td3);
        row.appendChild(td4);
        row.appendChild(td5);
        tbody.appendChild(row);
    }
</script>
