﻿@model WebApplication1.Models.LogInModel

@{
    ViewBag.Title = "LogIn";
}

<h2>Вход в систему</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="container col-lg-12 spacer"></div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>ИНН</label>
        <div class="col-md-10">
            <input type="text" id="INN"/>
        </div>
    </div>

    <div class="form-group">
       <label>Пароль</label>
        <div class="col-md-10">
           <input type="password" id="passord"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Войти" onclick="Login()" class="btn btn-primary btn-sm" />
        </div>
    </div>
</div>
}

<script>
    function Login() {
        var inn = document.getElementById("INN");
        var pas = document.getElementById("passord");

        if (inn !== '777777777' && pas !== '123') {
            alert("Пользователя нет в системе!");
        } else {
            window.location = "/Employee/AddEmployeeView";
        }
    }
</script>
